@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  position: relative;
}

input, button {
  outline: none;
}

.burger-menu {
  display: none;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  background-color: #60C1BD;
  border-radius: 45px;
  padding: 20px;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_wrapper .header_logo {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400, regular;
  font-size: 30px;
  line-height: 35.16px;
}
.header_wrapper .header_nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.header_nav_link {
  color: #284854;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400, regular;
  font-size: 18px;
  line-height: 24.55px;
}
.header_nav_link:hover {
  color: #256f8a;
}

.header_button {
  color: #ffffff;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400, regular;
  font-size: 14px;
  line-height: 19.1px;
  border: 1px solid #ffffff;
  border-radius: 45px;
  padding: 5px 20px;
}
.header_button:hover {
  opacity: 50%;
}

.section_better {
  background-color: #284854;
  padding: 220px 0 110px;
}
.section_better_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
}
.section_better_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
}
.section_better_info .main_title {
  max-width: 746px;
  font-size: 85px;
  font-family: Roboto, sans-serif;
  font-weight: 400, regular;
  line-height: 102px;
  color: #8BC441;
}
.section_better_text {
  max-width: 542px;
  font-size: 20px;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400, regular;
  line-height: 28px;
  color: #ffffff;
}
.section_better_image {
  max-width: 320px;
}

.section_become {
  position: relative;
}
.section_become_wrapper {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}
.section_become_wrapper .block {
  width: 506px;
  height: 175px;
  background-color: #F4F6F0;
  border-radius: 4px;
  padding: 30px 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.section_become_wrapper .block_image img {
  max-width: 100%;
}
.section_become_wrapper .block_text .block_title {
  font-family: Roboto, sans-serif;
  font-size: 37px;
  font-weight: 400, regular;
  line-height: 43, 36px;
  color: #8BC441;
}
.section_become_wrapper .block_text .block_text {
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 400, regular;
  line-height: 27, 28px;
  color: #60C1BD;
}

.section_start {
  padding: 120px 0;
  background-color: #ffffff;
}
.section_start_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section_start_wrapper_text {
  font-family: Nunito Sans, sans-serif;
  font-size: 22px;
  font-weight: 700, bold;
  line-height: 30px;
  color: #60C1BD;
}
.section_start_wrapper_title {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  font-weight: 700, bold;
  line-height: 64, 45px;
  color: #284854;
  margin-bottom: 80px;
}

.section_start_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.section_start_items .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
}
.section_start_items .card:nth-child(2) {
  flex-direction: row-reverse;
}
.section_start_items .card_image {
  max-width: 100%;
}
.section_start_items .card_info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.section_start_items .card_info_titpe {
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 700, bold;
  line-height: 27, 28px;
  color: #033a4f;
}
.section_start_items .card_info_subtitpe {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700, bold;
  line-height: 46, 88px;
  color: #8BC441;
}
.section_start_items .card_info_page {
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-weight: 400, regular;
  line-height: 30px;
  color: #284854;
}

.section_mission {
  padding: 83px 0px;
  background: #e5e9e0;
}
.section_mission_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section_mission_wrapper_image {
  max-width: 100%;
}
.section_mission_wrapper .section_mission_content {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
.section_mission_wrapper .section_mission_content_title {
  font-family: Nunito Sans, sans-serif;
  font-size: 22px;
  font-weight: 700, bold;
  line-height: 30px;
  color: #60C1BD;
}
.section_mission_wrapper .section_mission_content_subtitle {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  font-weight: 700, bold;
  line-height: 64, 45px;
  color: #284854;
}
.section_mission_wrapper .section_mission_content_text {
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-weight: 400, regular;
  line-height: 35px;
  color: #284854;
}
.section_mission_wrapper .section_mission_content_link {
  font-size: 18px;
  line-height: 21.82px;
  color: #60C1BD;
  border: 1px solid #60C1BD;
  padding: 10px 5px;
}
.section_mission_wrapper .section_mission_content_link:hover {
  opacity: 50%;
}

.section_good {
  padding: 90px 0;
  background-color: #8BC441;
}
.section_good_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
.section_good_wrapper_image {
  max-width: 100%;
}
.section_good_wrapper_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
.section_good_wrapper_content_title {
  max-width: 516px;
  font-family: Roboto, sans-serif;
  font-size: 55px;
  font-weight: 400, regular;
  line-height: 64, 45px;
  color: white;
}
.section_good_wrapper_content_subtitle {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 400, regular;
  line-height: 27, 28px;
  color: white;
}
.section_good_wrapper_content_subtitle .section_good_info {
  max-width: 300px;
}

.footer {
  padding: 60px 0;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_wrapper .footer_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}
.footer_wrapper .footer_column_title {
  font-family: Nunito Sans, sans-serif;
  font-size: 13px;
  font-weight: 400, regular;
  line-height: 17, 73px;
  color: #284854;
}
.footer_wrapper .footer_column_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.find {
  max-width: 300px;
}

.footer_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 30px;
}

.footer_column_link {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-weight: 400, regular;
  line-height: 19.1px;
  color: #60C1BD;
}
.footer_column_link:hover {
  color: #1b4f4c;
}

@media screen and (max-width: 1220px) {
  .section_become_wrapper {
    gap: 60px;
  }
  .section_better_info {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1100px) {
  .section_become_wrapper {
    flex-direction: column;
    top: 115px;
  }
  .section_start {
    padding-top: 400px;
  }
}
@media screen and (max-width: 575px) {
  .burger-menu {
    display: inline-flex;
    margin-left: auto;
    width: 40px;
    height: 40px;
  }
  .header_wrapper .header_nav,
  .header_button {
    display: none;
  }
  .section_become_wrapper .block_text .block_title {
    font-size: 30px;
  }
  .section_start_wrapper_title,
  .section_mission_wrapper .section_mission_content_subtitle,
  .section_good_wrapper_content_title {
    font-size: 32px;
  }
  .section_start_items .card_info_subtitpe {
    font-size: 30px;
  }
  .header {
    padding: 10px;
  }
  .section_better {
    padding-top: 150px;
  }
  .section_better_info .main_title {
    font-size: 35px;
    line-height: 50px;
  }
  .section_become_wrapper .block {
    width: 350px;
    height: auto;
  }
  .section_mission_wrapper_image {
    max-width: 350px;
  }
  .section_mission_wrapper_image img {
    width: 100%;
    overflow: hidden;
  }
  .section_good_wrapper_content {
    align-items: center;
    text-align: center;
  }
  .footer_nav {
    gap: 30px;
  }
}
@media screen and (max-width: 375px) {
  .section_become_wrapper .block {
    width: 300px;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */